@import 'reset.css';

html {
  font-size: 62.5%;
}

:root {
  --purple: #551c2e;
  --beige: #fffce6;
  --yellow: #edd834;
  --green: #00d4b0;
  --flex: {
    display: flex;
  }
  --title: {
    font-family: Raleway;
    font-weight: 800;
    color: var(--green);
    font-size: 6rem;
  }
}

.centerContainer {
  width: 1280px;
  margin: 0 auto;
}

.navMenu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navMenuTop {
  background-color: var(--purple);
}

.navMenuTopContent {
  @apply --flex;
}

.navMenuItems {
  @apply --flex;
  margin-top: 2.7rem;
}

.navMenuTopContent__logo {
  margin: 1.3rem 0;
  margin-right: 4rem;
}

.navMenuItems__item {
  font-family: raleway;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--beige);
  font-size: 1.4rem;
  margin-left: 3rem;
  -webkit-text-fill-color: transparent;
  /*geeft linting error maar werkt blijkbaar niet zonder -webkit- */
  -webkit-background-clip: text;
  background-image:
    linear-gradient(
      to right,
      var(--yellow),
      var(--yellow) 50%,
      var(--beige) 50%
    );
  background-size: 200% 100%;
  background-position: 100%;

  &:hover {
    transition: all .3s cubic-bezier(0, 0, .23, 1);
    background-position: 0%;
  }
}

.navMenuItems__item--highlighted {
  font-family: raleway;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--yellow);
  font-size: 1.4rem;
  margin-left: 3rem;
}

.navMenuTopContent__search {
  margin-left: auto;
  margin-top: 2.3rem;

  & img {
    margin-bottom: -.4rem;
  }

  & input {
    border: none;
    border-bottom: 1px solid var(--beige);
    background: none;
    color: var(--beige);
    font-family: raleway;
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: .2rem;
  }

  & input::placeholder {
    color: var(--beige);
  }

  & input:focus {
    outline: none;
  }
}

.navMenuBottom {
  background-color: var(--green);
}

.subNavMenuItems {
  @apply --flex;
  padding: 2rem;
  margin-left: 19rem;
}

.subNavMenuItems__item {
  font-family: raleway;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--purple);
  font-size: 1.4rem;
  margin-right: 3rem;
}

.subNavMenuItems__item--highlighted {
  border-bottom: 2px var(--purple) solid;
}

.navTags {
  margin-top: 12rem;
  background-color: var(--beige);
}

.navTagsItems {
  @apply --flex;
  padding-top: 2rem;
}

.navTagsItems__item {
  font-family: roboto;
  font-weight: 500;
  text-decoration: none;
  color: var(--green);
  font-size: 2rem;
}

.navTagsItems li {
  margin: .25em 0;
  padding: 0 1rem;
  text-align: center;
  border-left: .2rem solid var(--purple);

  &:first-child {
    border-left: none;
    padding-left: 0;
  }
}

.navTagsClear {
  text-align: right;
}

.navTagsClear__item {
  font-family: roboto;
  font-weight: 500;
  text-decoration: none;
  color: var(--purple);
  font-size: 1.8rem;
}

.mainContainer {
  background-color: var(--beige);
}

.eventsContainer {
  @apply --flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.duotone {
  width: 100%;
  height: 38rem;

}

svg {
  color-interpolation-filters: sRGB;
}

.event {
  position: relative;
  overflow: hidden;
  min-width: 370px;
  max-width: 370px;
  width: 100%;

  & image {
    max-width: 100%;
    vertical-align: top;
  }

  & figcaption {
    position: absolute;
    bottom: 0;
    z-index: 99;
    padding: 2.5rem;
  }

  & a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 299;
  }

  &::before {
    content: '';
    position: absolute;
    top: -4%;
    left: -4%;
    width: 108%;
    height: 108%;
    border: 14px solid transparent;
    border-image: url(../assets/img/border.png);
    border-image-slice: 27;
    border-image-width: 23px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
  }
}

.eventContainer {
  flex: 0 0 31%;
  z-index: 200;
  margin: 3rem 0;
  border: 14px solid transparent;
  border-image: url(../assets/img/border.png);
  border-image-slice: 27;
  border-image-width: 23px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  width: 40rem;

  &:nth-child(3n-1) {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.event__overlay {
  position: absolute;
  top: 79%;
  width: 100%;
  background-color: var(--purple);
  padding: 15px 25px 65px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 18rem;
    background-image: linear-gradient(to bottom, transparent 0%, var(--purple) 100%);
  }
}

.event__description {
  overflow: hidden;
  position: relative;
  height: 5.7rem;
  font-family: roboto;
  font-weight: normal;
  color: var(--beige);
  font-size: 1.2rem;
  margin-top: 1.4rem;
  line-height: 1.8rem;

  &::after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.4em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--purple) 50%);
  }
}

.event__title {
  font-family: raleway;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--yellow);
  font-size: 3.6rem;
}

.event__date {
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--beige);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.headerImage {
  margin-top: 6rem;
  background-color: #4cd4b0;
  background-image: url(../assets/img/header.png);
  background-repeat: no-repeat;
  background-position: right top;
  height: 50rem;
}

.svgElement {
  position: absolute;
  z-index: 50;
}

.svgElements {
  height: 50rem;
}

.headerImage__text {

  & h1 {
    font-family: Raleway;
    font-weight: 800;
    color: var(--purple);
    font-size: 4.8rem;
    margin-top: 1rem;
    z-index: 99;
    position: absolute;
    top: 22rem;
    margin-left: 10rem;
    margin-bottom: 4rem;
    text-decoration: underline;
    text-decoration-color: var(--beige);
    white-space: nowrap;
    overflow: hidden;
    width: 90rem;
    animation: type 1.5s steps(60, end);

    &:nth-child(2) {
      margin-top: 7rem;
      animation: type2 2.7s steps(60, end);
    }
  }
}

.tinnenpot {
  @apply --flex;
  padding-top: 10rem;
}

.tinnenpotImg__border {
  position: absolute;
  width: 44rem;
  height: 30rem;
  top: 65rem;
}

.tinnenpotImg__img {
  margin-left: 2rem;
}

.tinnenpotImg__swirlTop {
  position: absolute;
  transform: rotateZ(130deg);
  top: 64rem;
  margin-left: -1rem;
}

.tinnenpotImg__swirlBottom {
  position: absolute;
  transform: rotateZ(130deg);
  top: 86rem;
  margin-left: 34rem;
}

.tinnenpotText {
  margin-left: 15rem;
}

.tinnenpotText__title {
  @apply --title;
}

.tinnenpotText__description {
  font-family: Roboto;
  font-weight: 500;
  color: var(--purple);
  font-size: 1.4rem;
  width: 55rem;
  margin-top: 1rem;
}

.tinnenpotText__items li {
  font-family: Roboto;
  font-weight: 500;
  color: var(--purple);
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 1rem 0;
  padding-left: 4rem;
  width: 55rem;

  & span {
    color: var(--green);
  }

  &:nth-child(1) {
    background: url(../assets/img/bullet_yellow.svg) no-repeat left center;
    background-size: 2.8%;
  }

  &:nth-child(2) {
    background: url(../assets/img/bullet_green.svg) no-repeat left center;
    background-size: 2.8%;
  }

  &:nth-child(3) {
    background: url(../assets/img/bullet_purple.svg) no-repeat left center;
    background-size: 2.8%;
  }
}

.nextEvents__title {
  @apply --title;
  margin-top: 10rem;
}

.nextEvent__items {
  @apply --flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.nextEvents__link {
  font-family: Roboto;
  font-weight: 500;
  color: var(--green);
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  background: url(../assets/img/bullet_green.svg) no-repeat right center;
  background-size: 5%;
  padding: 1rem 0;
  padding-right: 2rem;
  margin-left: auto;
}

.nextEvents__linkContainer {
  text-align: right;
  margin-bottom: 3rem;
}

.groundMap {
  background-color: var(--green);
}

@keyframes type {

  from { width: 0; }
}

@keyframes type2 {

  0% { width: 0; }

  50% { width: 0; }

  100% { width: 100; }
}
